*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    width: 100%;
    background: white;
    padding: 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar .menu{
    width: 50%;
    text-align: center;
}

.navbar .sub-tem h1{
    font-size: x-large;
    font-weight: bold;
}

.main-logo {
    height: 3vw;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.navbar .menu a{
    margin: 2.2rem;
    text-decoration: none;
    color: black;
}

.signup-btn {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px;
    width: 100px;
    padding: 10px 0;
    transition: 0.4s;
    color: white;
    background-color: #3E7D60;
    border-color:#3E7D60;
    
}

.login-btn{
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px;
    width: 100px;
    padding: 10px 0;
    transition: 0.4s;
    color: #3E7D60;
    background-color: white;
}
.statistik{
    background-color: #3E7D60; 
    padding: 40px 20px;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.statistik.stat {
    display: inline-block;
    margin: 30px;
    text-align: center;
    gap:40px;
}

.statistik.stat h2 {
    font-size: 60px;
    font-weight: bold;
    margin: 0;
}

.statistik.stat p {
    font-size: 1.2rem;
    margin: 10px 0 0;
    color: #EDEDED;
}
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px;
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    color: #333;
    height: 100vh;
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
}

.about-text {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-text h2 {
    font-size: 32px;
    font-weight: bold;
}

.about-text p {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 15px;
    margin-top:20px;
}

.about-text .nkri {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    color: #303030;
    margin-top: 20px;
    padding-left: 10px;
    border-left: 3px solid #3E7D60;
}
