*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    width: 100%;
    background: white;
    padding: 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar .menu{
    width: 50%;
    text-align: center;
}

.navbar .sub-tem h1{
    font-size: x-large;
    font-weight: bold;
}

.main-logo {
    height: 3vw;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.navbar .menu a{
    margin: 2.2rem;
    text-decoration: none;
    color: black;
}

.signup-btn {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px;
    width: 100px;
    padding: 10px 0;
    transition: 0.4s;
    color: white;
    background-color: #3E7D60;
    border-color:#3E7D60;
    
}

.login-btn{
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px;
    width: 100px;
    padding: 10px 0;
    transition: 0.4s;
    color: #3E7D60;
    background-color: white;
}